.vs/

MakeConst/MakeConst.Test/obj/
MakeConst/MakeConst.Test/bin/

MakeConst/MakeConst.CodeFixes/bin/
MakeConst/MakeConst.CodeFixes/obj/

MakeConst/MakeConst/obj/
MakeConst/MakeConst/bin/

MakeConst/MakeConst.Vsix/bin/
MakeConst/MakeConst.Vsix/obj/

MakeConst/MakeConst.Package/obj/
MakeConst/MakeConst.Package/bin/